{{- with $base := (printf "configs/%s" (env "DE_ENV")) -}}
# -*- mode: yaml -*-

{{- if tree (printf "%s/permissions-db" $base) }}
db:
  {{ with $v := (key (printf "%s/permissions-db/uri" $base)) }}uri: {{ $v }}{{ end }}
{{- end }}

{{- if tree (printf "%s/grouper-db" $base) }}
grouperdb:
  {{ with $v := (key (printf "%s/grouper-db/uri" $base)) }}uri: {{ $v }}{{ end }}
  folder_name_prefix: "iplant:de:{{ env "DE_ENV" }}"
{{- end }}
{{- end -}}
